#destaque{
    border: 1px solid black;
    margin: 50px 20px;
    height: 180px;
    text-align: center;
    position: relative;
}
#emDestaque{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.dot{
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

#recentes{
    /*border: 1px solid black;*/
    padding: 20px;
    margin: 50px 0;
}
.pedidoRecente{
    display: inline-block;
    width: 24%;
}
.pedidoRecenteItem{
    border: 1px solid black;
    width: 100%;
    display: inline-block;
    height: 12em;
}

#categorias{
    /*border: solid 1px black;*/
    padding: 20px;
    margin: 50px 0;
}
.categoria{
    border: solid 1px black;
    width: 24%;
    display: inline-block;
    height: 12em;
    text-align: center;
    text-decoration: none;
    position: relative;
    color: black;
}
.imagem{
    max-width: 100%;
    max-height: 100%;
}
.textoCategoria{
    position: absolute;
    top: 4px;
}