body {
    min-height: 100vh;
    /*border: 1px solid black;*/
    text-align: center;
}
#banner {
    border: 1px solid black;
    height: 50vh;
    text-align: center;
    line-height: 50vh;
}
#login {
    border: 1px solid grey;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    padding: 15px;
    padding-top: 30px;
}