body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#miniLogoHeader {
    height: 80px;
    width: 80px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    margin: 10px;
}
#navHeader{
    display: inline-block;
}
#navHeader li{
    display: inline;
}
#navHeader li a{
    text-decoration: none;
}
#carrinho{
    float: right;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color: lightgrey;
}

footer{
    /*border: 1px solid black;*/
    padding: 20px;
    display: flex;
}
#footerLogoConteiner{
    position: relative;
    /*border: 1px solid black;*/
    align-self: start;
    margin-right: 20px;
}
#miniLogoFooter {
    height: 80px;
    width: 80px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    margin: 10px;
}
.footerConteiner{
    /*border: 1px solid black;*/
    width: 24%;
    display: inline-block;
}
.navFooter ul li a{
    text-decoration: none;
}
.navFooter ul{
    list-style: none;
    padding: 0;
}