#menuSuperior {
    /*border: 1px solid black;*/
}
#miniLogoHeader {
    height: 80px;
    width: 80px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    margin: 10px;
}
#navHeader{
    display: inline-block;
}
#navHeader li{
    display: inline;
}
#navHeader li a{
    text-decoration: none;
}
#carrinho{
    float: right;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color: lightgrey;
}

#destaque{
    border: 1px solid black;
    margin: 50px 20px;
    height: 180px;
    text-align: center;
    position: relative;
}
#emDestaque{
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.dot{
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

#recentes{
    /*border: 1px solid black;*/
    padding: 20px;
    margin: 50px 0;
}
.pedidoRecente{
    display: inline-block;
    width: 24%;
}
.pedidoRecenteItem{
    border: 1px solid black;
    width: 100%;
    display: inline-block;
    height: 12em;
}

#categorias{
    /*border: solid 1px black;*/
    padding: 20px;
    margin: 50px 0;
}
.categoria{
    border: solid 1px black;
    width: 24%;
    display: inline-block;
    height: 12em;
}

footer{
    /*border: 1px solid black;*/
    padding: 20px;
    display: flex;
}
#footerLogoConteiner{
    position: relative;
    /*border: 1px solid black;*/
    align-self: start;
    margin-right: 20px;
}
#miniLogoFooter {
    height: 80px;
    width: 80px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    margin: 10px;
}
.footerConteiner{
    /*border: 1px solid black;*/
    width: 24%;
    display: inline-block;
}
.navFooter ul li a{
    text-decoration: none;
}
.navFooter ul{
    list-style: none;
    padding: 0;
}