#contents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

#filtros{
    border: solid 1px black;
    padding: 10px;
    margin: 20px;
    height: fit-content;
}
#filtrosNav ul{
    list-style-type: none;
    padding: 0;
}
#filtrosNav a{
    text-decoration: none;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: right;
}
#categoriasOculto{
    display: none;
}
#precoOculto{
    display: none;
}

#produtos{
    margin: 20px;
    grid-column: span 2;
}
.produto{
    width: 30%;
    display: inline-block;
    margin: 10px;
    height: fit-content;
}
.foto{
    border: solid 1px black;
    display: inline-block;
    width: 100%;
    height: 10em;
}
.adicionarButton{
    border: solid 1px black;
    padding: 20px;
    display: inline-block;
    background-color: lightgray;
}